.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    grid-template-areas:
        "menu header header"
        "menu swiper swiper"
        "menu offers offers";

    .menu {
        grid-area: menu;
        height: 560px;
        background: #D9D9D9;
    }

    .header {
        grid-area: header;
        height: 40px;
        background: #D9D9D9;
    }

    .swiper {
        grid-area: swiper;
        height: 300px;
        background: #D9D9D9;
    }

    .offers {
        grid-area: offers;
        height: 200px;
        background: #D9D9D9;
    }
}