.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    grid-template-areas:
        "menu swiper swiper";

    .menu {
        grid-area: menu;
        height: 300px;
    }

    .header {
        grid-area: header;
        height: 40px;
    }

    .swiper {
        grid-area: swiper;
        height: 300px;
    }
}